In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy import stats

In [45]:
ano = pd.read_csv("anorexia.csv")
ano.tail()

   Treat  Prewt  Postwt
67    FT   77.6    90.7
68    FT   83.5    92.5
69    FT   89.9    93.8
70    FT   86.0    91.7
71    FT   87.3    98.0

In [3]:
ano.shape

(72, 3)

In [7]:
ano['Treat'].nunique()

3

In [12]:
ano['Treat'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 72 entries, 0 to 71
Series name: Treat
Non-Null Count  Dtype
--------------  -----
72 non-null     object
dtypes: object(1)
memory usage: 704.0+ bytes

In [14]:
ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Treat   72 non-null     object
 1   Prewt   72 non-null     float64
 2   Postwt  72 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.8+ KB

In [39]:
a = ano[ano['Treat']=='Cont']
a.head()

  Treat  Prewt  Postwt
0  Cont   80.7    80.2
1  Cont   89.4    80.1
2  Cont   91.8    86.4
3  Cont   74.0    86.3
4  Cont   78.1    76.1

In [43]:
b = ano[ano['Treat']=='CBT']
b.head()

   Treat  Prewt  Postwt
26   CBT   80.5    82.2
27   CBT   84.9    85.6
28   CBT   81.5    81.4
29   CBT   82.6    81.9
30   CBT   79.9    76.4

In [46]:
c = ano[ano['Treat']=='FT']
c.head()

   Treat  Prewt  Postwt
55    FT   83.8    95.2
56    FT   83.3    94.3
57    FT   86.0    91.5
58    FT   82.5    91.9
59    FT   86.7   100.3

In [15]:
ano['Prewt'].mean()

82.40833333333335

In [16]:
ano['Postwt'].mean()

85.17222222222223

In [17]:
ano.describe()

           Prewt      Postwt
count  72.000000   72.000000
mean   82.408333   85.172222
std     5.182466    8.035173
min    70.000000   71.300000
25%    79.600000   79.325000
50%    82.300000   84.050000
75%    86.000000   91.550000
max    94.900000  103.600000

In [53]:
ano['Treat'].unique()

array(['Cont', 'CBT', 'FT'], dtype=object)

In [26]:
from scipy.stats import ttest_rel

In [33]:
ttest_rel(ano['Prewt'],ano['Postwt'],alternative='less')

Ttest_relResult(statistic=-2.937569718890667, pvalue=0.0022288590393350783)

In [40]:
ttest_rel(a['Prewt'],a['Postwt'],alternative='less')

Ttest_relResult(statistic=0.2872253910150255, pvalue=0.6118464688902916)

In [44]:
ttest_rel(b['Prewt'],b['Postwt'],alternative='less')

Ttest_relResult(statistic=-2.2155878439311656, pvalue=0.01751129878109442)

In [47]:
ttest_rel(c['Prewt'],c['Postwt'],alternative='less')

Ttest_relResult(statistic=-4.184908135290033, pvalue=0.00035012655280026967)

In [48]:
import seaborn as sns