In [6]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

In [2]:
co2 = pd.read_csv("CO2.csv")
co2.head()

  Plant    Type   Treatment  conc  uptake
0   Qn1  Quebec  nonchilled    95    16.0
1   Qn1  Quebec  nonchilled   175    30.4
2   Qn1  Quebec  nonchilled   250    34.8
3   Qn1  Quebec  nonchilled   350    37.2
4   Qn1  Quebec  nonchilled   500    35.3

In [3]:
co2.shape

(84, 5)

In [4]:
co2.describe()

              conc     uptake
count    84.000000  84.000000
mean    435.000000  27.213095
std     295.924119  10.814412
min      95.000000   7.700000
25%     175.000000  17.900000
50%     350.000000  28.300000
75%     675.000000  37.125000
max    1000.000000  45.500000

In [14]:
ttest_1samp(co2['conc'],popmean=30,alternative='less')

Ttest_1sampResult(statistic=12.543372005878657, pvalue=1.0)

In [15]:
ttest_1samp(co2['conc'],popmean=30,alternative='greater')

Ttest_1sampResult(statistic=12.543372005878657, pvalue=3.691035629728094e-21)

In [16]:
ttest_1samp(co2['conc'],popmean=30,alternative='two-sided')

Ttest_1sampResult(statistic=12.543372005878657, pvalue=7.382071259456188e-21)

In [17]:
ttest_1samp(co2['uptake'],popmean=30,alternative='less')

Ttest_1sampResult(statistic=-2.3618855435932176, pvalue=0.010261893168049612)

In [18]:
ttest_1samp(co2['uptake'],popmean=30,alternative='greater')

Ttest_1sampResult(statistic=-2.3618855435932176, pvalue=0.9897381068319504)

In [19]:
ttest_1samp(co2['uptake'],popmean=30,alternative='two-sided')

Ttest_1sampResult(statistic=-2.3618855435932176, pvalue=0.020523786336099224)

In [1]:
########################################