In [2]:
import numpy as np
import pandas as pd

In [3]:
pg = pd.read_csv("PlantGrowth.csv")
pg.head()

   weight group
0    4.17  ctrl
1    5.58  ctrl
2    5.18  ctrl
3    6.11  ctrl
4    4.50  ctrl

In [5]:
pg.shape

(30, 2)

In [6]:
pg.describe()

          weight
count  30.000000
mean    5.073000
std     0.701192
min     3.590000
25%     4.550000
50%     5.155000
75%     5.530000
max     6.310000

In [8]:
from scipy.stats import ttest_1samp

In [21]:
ttest_1samp(pg['weight'],popmean=6,axis=0,nan_policy='omit',alternative='less')
#axis and nan_policy are optionalparameters

Ttest_1sampResult(statistic=-7.241082682752038, pvalue=2.8330757452478217e-08)

In [16]:
ttest_1samp(pg['weight'],popmean=6,alternative='less')

Ttest_1sampResult(statistic=-7.241082682752038, pvalue=2.8330757452478217e-08)

In [11]:
ttest_1samp(pg['weight'],popmean=6,alternative='greater')

Ttest_1sampResult(statistic=-7.241082682752038, pvalue=0.9999999716692425)

In [12]:
ttest_1samp(pg['weight'],popmean=6,alternative='two-sided')

Ttest_1sampResult(statistic=-7.241082682752038, pvalue=5.6661514904956434e-08)