In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy import stats
from scipy.stats import ttest_rel

In [5]:
pl = pd.read_csv("Plaque.csv")
pl.head()

   Id product     trt  score
0   1      P1  Before    3.0
1   2      P1  Before    4.0
2   3      P1  Before    4.1
3   4      P1  Before    3.6
4   5      P1  Before    4.1

In [7]:
pl.tail()

     Id product    trt  score
115  16      P3  After    2.9
116  17      P3  After    2.6
117  18      P3  After    3.4
118  19      P3  After    3.6
119  20      P3  After    3.5

In [10]:
pl['product'].unique()

array(['P1', 'P2', 'P3'], dtype=object)

In [11]:
pl['trt'].unique()

array(['Before', 'After'], dtype=object)

In [18]:
pl_pivot = pd.pivot_table(pl,index=['Id','product'],columns='trt',values='score')

In [19]:
pl_pivot.head()

trt         After  Before
Id product
1  P1         2.3     3.0
   P2         2.5     3.6
   P3         3.9     3.8
2  P1         2.2     4.0
   P2         2.3     4.4

In [21]:
# p1 = pl_pivot[pl_pivot['product']=='P1']
# ttest_rel(p['After'],p1['Before'],alternative='less')

In [23]:
# independant = (X1+X2)/root((S1)^2/N1+(S2)^2/N2)

In [28]:
x = np.array([0, 1, 2, 3, 4, 5])
p = np.array([0.3, 0.2, 0.15, 0.1, 0.13, 0.12])
cp = np.cumsum(p)

In [29]:
cp

array([0.3 , 0.5 , 0.65, 0.75, 0.88, 1.  ])