In [23]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from scipy.stats import bartlett

In [2]:
pur = pd.read_csv("Puromycin.csv")
pur.head()

   conc  rate    state
0  0.02    76  treated
1  0.02    47  treated
2  0.06    97  treated
3  0.06   107  treated
4  0.11   123  treated

In [3]:
pur.shape

(23, 3)

In [4]:
pur.describe()

            conc        rate
count  23.000000   23.000000
mean    0.312174  126.826087
std     0.363130   47.513302
min     0.020000   47.000000
25%     0.060000   91.500000
50%     0.110000  124.000000
75%     0.560000  158.500000
max     1.100000  207.000000

In [27]:
# pur.var()

In [9]:
pur['conc'].mean()

0.31217391304347825

In [10]:
pur['rate'].mean()

126.82608695652173

In [16]:
pur['state'].unique()

array(['treated', 'untreated'], dtype=object)

In [25]:
treated = pur[pur['state']=='treated']
untreated = pur[pur['state']=='untreated']

In [26]:
bartlett(treated['rate'],untreated['rate'])

BartlettResult(statistic=1.3347300574703427, pvalue=0.2479654757261583)