In [8]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from scipy.stats import bartlett

In [5]:
sop = pd.read_csv("Soporific.csv")
sop.head(11)

   Drug A  Drug B
0     0.7     1.9
1     1.6     0.8
2     0.2     1.1
3     1.2     0.1
4     0.1     0.1
5     3.4     4.4
6     3.7     5.5
7     0.8     1.6
8     0.0     4.6
9     2.0     3.6

In [3]:
sop.describe()

          Drug A     Drug B
count  10.000000  10.000000
mean    1.370000   2.370000
std     1.319133   1.988886
min     0.000000   0.100000
25%     0.325000   0.875000
50%     1.000000   1.750000
75%     1.900000   4.200000
max     3.700000   5.500000

In [4]:
sop.shape

(10, 2)

In [7]:
sop.corr()

          Drug A    Drug B
Drug A  1.000000  0.604808
Drug B  0.604808  1.000000

In [9]:
bartlett(sop['Drug A'],sop['Drug B'])

BartlettResult(statistic=1.3988089511416324, pvalue=0.23692309283484822)

In [11]:
ttest_ind(sop['Drug A'],sop['Drug B'],equal_var=True)

Ttest_indResult(statistic=-1.325023197310562, pvalue=0.2017387242646029)