In [9]:
import numpy as np
import pandas as pd

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [2]:
y = pd.read_csv("Yield.csv")
y.head()

   Yield Treatments
0   23.4          I
1   24.1          I
2   19.6          I
3   23.9          I
4   29.4          I

In [3]:
y['Treatments'].unique()

array(['I', 'II', 'III', 'IV'], dtype=object)

In [4]:
y.shape

(24, 2)

In [5]:
y.describe()

           Yield
count  24.000000
mean   31.925000
std     9.594077
min    18.300000
25%    23.875000
50%    31.750000
75%    39.425000
max    50.200000

In [6]:
# a = y[y['Yield']=='I']

In [12]:
y_ols = ols('Yield ~ Treatments',data=y).fit()

In [14]:
table = anova_lm(y_ols,tpy=2)
table

              df       sum_sq     mean_sq          F    PR(>F)
Treatments   3.0  1551.607762  517.202587  18.293252  0.000006
Residual    20.0   565.457238   28.272862        NaN       NaN